$color-uno: rgb(175, 107, 52);
$color-dos: rgba(0, 0, 0, 0.808);
$color-tres: rgb(0, 153, 255);
$color-cuatro: white;
$fuente-uno: "Parkinsans", sans-serif;
$fuente-dos: "Kanit", sans-serif;
$size-f-uno: 22px;
$size-f-dos: 26px;
$size-f-tres: 36px;
$size-f-cuatro: 48px;
$size-f-cinco: 16px;

h1 {
    color: #{$color-uno}!important;
    font-size: $size-f-cuatro;
    font-family: $fuente-dos;
    margin: 0 0 !important;
    padding: 0 !important;
}

main {
    background-color: $color-dos;
    width: 100%;
    padding:20px 10px;
    margin-left: -10px;
    form {
        display: flex;
        flex-direction: column;
        margin: 0 15px;

        div {
            display: grid;
            grid-template-columns: 2fr 1fr;
            font-size: $size-f-uno;
            color: $color-tres;            
            font-weight: bolder;
        }

        p {
            font-size: $size-f-tres;
            font-family: $fuente-uno;
            font-variant: small-caps;
            font-weight: bold;
            color: $color-cuatro;
        }

        label {
            font-family: $fuente-uno;
            font-size: $size-f-uno;
        }

        select {
            width: 30%;
            font-size: $size-f-dos;
            font-family: $fuente-uno;
            border-radius: 10px;
            margin: 10px 0;
            option {
                color: $color-tres;
            }
        }
    }
}

.boton {
    display: flex;
    margin: 0 40%;
    width: 20%;
    font-size: $size-f-dos;
    border-radius: 30px;
    background-color: $color-tres;
    color: $color-cuatro;
    font-family: $fuente-dos;
}

.bloque-form {
    background-image: url("./img/logo\ orinoco\ sin\ fondo\ \(1\).png");
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: $color-dos;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -10px;
}

.form-servicios:hover {
    transform: perspective(1.2);
    color: $color-cuatro;
    transition: 0.9s;
}

.cuadro-texto {
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 40px;
}

.area-texto {
    border: none;
    border-radius: 10px;
    width: 60%;
    height: 160px;
}


header nav ul li a {
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: block;
}

.barra {
    background-color: rgb(0, 153, 255);
    width: 100%;
    padding: 0 12px;
    margin-left: -10px;
}

.barra>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0px 10px;
    margin-bottom: 0 !important;
}

.barra>ul>li {
    padding: 5px;
    transition: 0.8sx;
}

.barra>ul>li:hover {
    transform: scale(1.2);
    color: tomato;
}

p,
h3 {
    font-family: "Parkinsans", sans-serif;
    color: black;
}

.footer {
    background-color: darkgray;
    width: 100%;
    padding: 10px;
    margin-bottom: -10px;
    margin-left: -10px;
}

footer h3 {
    color: white;
    font-size: 28px;
    -webkit-text-stroke: 2px black;
    text-align: center;
    padding: 35px 0px;
}

footer p {
    font-size: 14px;
    display: flex;
    text-align: center;
    padding: 15px 40px;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    margin-top: 120px;
}

.contactos {
    width: 5rem;
    height: 5rem;
    margin: 10px 35px;
}

.contactos-escala {
    transition: 0.5s;
}

.contactos-escala:hover {
    transform: scale(1.1);
}

.nav-contactos {
    display: flex;
    justify-content: center;
}

@media (max-width: 620px) {

    .barra>ul {
        padding: 0 5px !important;
    }

    .barra>ul>li {
        font-size: 10px !important;
        text-align: center !important;
        width: 14% !important;
    }
}

@media (max-width: 450px) {
    .barra>ul {
        padding: 0 5px !important;
    }

    .barra>ul>li {
        font-size: 8px !important;
        text-align: center !important;
        width:14% !important;
    }

    .contactos {
        width: 3rem !important;
        height: 3rem !important;
    }

    footer h3 {
        padding: 5px !important;
    }

    main {
    
            p {
                font-size: $size-f-uno;
            }
    
            label {
                font-size: $size-f-cinco;
            }
        }

    .boton {
        font-size: $size-f-cinco !important;
        }
}

